.about-me {
  margin-bottom: 120px;
  &__info {
    display: flex;
  }
  &__img {
    margin-right: 70px;
  }
  &__icon {
    position: relative;
    padding-left: 10px;
    @include before_circle;
    z-index: 2;
  }
}
